.container {
    width: 1420px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 72px;
    padding-top: 48px;
    padding-bottom: 24px;
    border-bottom: 2px solid #000;
}

h3 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
    padding-bottom: 8px;
    margin-bottom: 7px;
    border-bottom: 1px solid #000;
}

small {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.small-red {
    color: #A00404;
}

.logo {
    display: block;
    margin-bottom: 48px;
}

.listStyle {
    font-size: 24px;
    line-height: 36px;
}
.listTitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.profileList {
    margin-bottom: 72px;
}

.profileList li {
    position: relative;
    padding-bottom: 24px;
    margin-left: 32px;
}

.profileList li:last-child {
    padding-bottom: 0;
}

.profileList li:first-child::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10%;
    left: -30px;
    border-radius: 50%;
    background: #96A9C4;
}

.educationList {
    margin-bottom: 40;
}

.educationList li {
    margin-left: 32px;
    position: relative;
}

.educationList p {
    padding-bottom: 32px;
}

.educationList li::before {
    content: "";
    position: absolute;
    top: 22%;
    left: -22px;
    width: 1px;
    height: 100%;
    background: #96A9C4;
}

.educationList li:last-child::before {
    height: 0;
}

.educationList li::after {
    content: "";
    position: absolute;
    top: 22%;
    left: -22px;
    width: 1px;
    height: 100%;
    background: #96A9C4;
}

.educationList li:last-child::after {
    height: 0;
}

.educationList p::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 15%;
    left: -30px;
    border-radius: 50%;
    background: #96A9C4;
}

.skillStyle {
    position: relative;
    background: #415165;
    margin-bottom: 72px;
    padding-bottom: 56px;
}
.skillStyle::after {
    content: "";
    display: block;
    height: 300px;
    width: 100vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -250px;
    background-color: #96A9C4;
    z-index: -1;
}

.skillStyle h2{
    width: 996px;
    margin: 0 auto;
    color: #fff;
    padding: 24px 0 8px 0;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.skillStyle ul{
    width: 216px;
    padding-left: 23px;
    margin: 0 auto;
    border-left: 1px solid #fff;
}
.skillStyle li{
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    padding-bottom: 16px;
    
}
.skillStyle li:last-child{
    padding-bottom: 0;
}

.experienceList ul{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;
    margin-bottom: 40px;
}
.experienceList li{
    margin-bottom: 32px;
}
.experienceList img{
    padding: 8px 0;
}
.listContent{
    width: 642px;
    font-size: 20px;
    line-height: 30px;
}

.footer{
    background: #415165;
    padding-bottom: 24px;
    margin-bottom: 100px;
}
.copyright{
    color: #fff;
    text-align: center;
}
.copyright h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    border-bottom: 1px solid #fff;
    padding: 24px 0 8px 0;
    margin-bottom: 32px;
}
.copyright small{
    margin-left: 16px;
}
.copyright li{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}
.copyright i{
    font-size: 48px;
    margin-right: 24px;
}